@use "../../base/fonts";
@use "../../base/colors";

.backPageButton,
.backToTopButton {
	@apply font-GanhTypeRegular bg-primary-default py-2 px-3 hover:bg-primary-darker transition-all ease-in-out duration-500;

	&:focus {
		outline: none;
	}

	&:hover {
		@apply transition-all duration-500 ease-in-out;
	}
}

.backPageButton {
	@apply bg-primary-default hover:bg-accent-default;
}

.backHoverButton {
	transform: skewX(-15deg);
	box-shadow: -3px 6px 0;
	@apply font-GanhTypeRegular bg-primary-dark shadow-primary-dark flex items-center justify-center no-underline py-[10px] px-[20px] transition-all duration-500 ease-in-out;

	&:focus {
		outline: none;
		@apply no-underline;
	}

	&:hover {
		box-shadow: -10px 10px 0;
		@apply shadow-primary-dark transition-all duration-500 ease-in-out;

		.span:nth-child(2) {
			@apply mr-[45px] transition-all duration-500 ease-in-out;
		}

		.three {
			animation: color_anim 1s infinite 0.2s;
		}

		.one {
			transform: translateX(0%);
			animation: color_anim 1s infinite 0.6s;
		}

		.two {
			transform: translateX(0%);
			animation: color_anim 1s infinite 0.4s;
		}
	}

	.span:nth-child(2) {
		@apply mr-[0px] transition-all duration-500 ease-in-out;
	}

	.span {
		transform: skewX(15deg);
	}

	.span:nth-child(2) {
		@apply relative top-[5%] w-[20px] ml-[20px];
	}

	/**************SVG****************/
	.one {
		transition: 0.4s;
		transform: translateX(-60%);
	}

	.two {
		transition: 0.5s;
		transform: translateX(-30%);
	}

	/* SVG animations */
	@keyframes color_anim {
		0% {
			@apply fill-white;
		}
		50% {
			@apply fill-primary-default;
		}
		100% {
			@apply fill-white;
		}
	}
}

// Magnet Hover Button
.magnetHoverButton {
	@apply static hover:lg:top-[100px] hover:cursor-grabbing w-full h-full hover:lg:w-[550px] hover:sm:h-[350px] hover:lg:h-[550px] border-none px-6 lg:px-6 py-4 hover:lg:px-0 hover:lg:py-0 bg-tertiary-dark text-white place-content-center bg-cover bg-center bg-no-repeat transition-all duration-700 ease-out;
	transition: cubic-bezier(0.76, 0, 0.24, 1);
}

.buttonStyling {
	@apply py-3 px-10 w-fit font-GanhTypeRegular cursor-pointer rounded-full uppercase text-lightGrey text-lg lg:text-5xl text-center tracking-[0.1rem] border-2 border-solid border-white hover:border-primary-default bg-transparent hover:bg-primary-default transition-all ease-in-out duration-500;
}

.buttonStylingAlt {
	@extend .buttonStyling;
	@apply py-2 font-GanhTypeRegular capitalize text-medium lg:text-lg tracking-[0.02rem] text-white border-white hover:border-pureBlack hover:bg-pureBlack;
}

.buttonStylingAltTwo {
	@extend .buttonStylingAlt;
	@apply text-pureBlack border-pureBlack hover:text-white hover:border-primary-default hover:bg-primary-default;
}
