// Colours Variables
$black: #212020;
$grey: #cecece;
$white: #ffffff;
$pureBlack: #000;
$darkGrey: #8f8f8f;
$lightGrey: #f5f5f5;
$lightBlack: #292929;
$lightGreyTwo: #fafafa;

// Main Colours
$primary-default: #8094ee;
$primary-two: #8094ee;
$primary-light: #8094ee;
$primary-dark: #8094ee;
$primary-darker: #8094ee;

$accent-default: #c0a6f8;
$accent-two: #c0a6f8;
$accent-dark: #c0a6f8;
$accent-darker: #c0a6f8;

$tertiary-default: #ffbd59;
$tertiary-two: #ffbd59;
$tertiary-light: #ffbd59;
$tertiary-dark: #ffbd59;
$tertiary-darker: #ffbd59;

$quaternary-default: #e5dfd0;
$quaternary-two: #e5dfd0;
