// Colours Variables
$black: #111;
$grey: #cecece;
$white: #ffffff;
$pureBlack: #000;
$darkGrey: #8f8f8f;
$lightGrey: #f5f5f5;
$lightBlack: #292929;
$lightGreyTwo: #fafafa;

// Main Colours
$primary-default: #1161ff;
$primary-two: #3978ff;
$primary-light: #3d77f3;
$primary-dark: #001b66;
$primary-darker: #00072d;

$accent-default: #833df4;
$accent-two: #7736f1;
$accent-dark: #622bc7;
$accent-darker: #521cb7;

$tertiary-default: #ffb000;
$tertiary-two: #fb8c00;
$tertiary-light: #ffca10;
$tertiary-dark: #d1a855;
$tertiary-darker: #bc7700;

$quaternary-default: #e20031;
$quaternary-two: #9a0021;
