// Colours Variables
$black: #212020;
$grey: #cecece;
$white: #ffffff;
$pureBlack: #000;
$darkGrey: #8f8f8f;
$lightGrey: #f5f5f5;
$lightBlack: #292929;
$lightGreyTwo: #fafafa;

// Main Colours
$primary-default: #003844;
$primary-two: #003844;
$primary-light: #003844;
$primary-dark: #003844;
$primary-darker: #003844;

$accent-default: #646536;
$accent-two: #646536;
$accent-dark: #646536;
$accent-darker: #646536;

$tertiary-default: #ffbd59;
$tertiary-two: #ffbd59;
$tertiary-light: #ffbd59;
$tertiary-dark: #ffbd59;
$tertiary-darker: #ffbd59;

$quaternary-default: #e5dfd0;
$quaternary-two: #e5dfd0;
