/*===== FONTS =====*/
@font-face {
	font-family: StretchPro;
	src: url("../fonts/StretchPro.woff");
}
@font-face {
	font-family: T1Korium2KG;
	src: url("../fonts/T1Korium-2KG.woff");
}
@font-face {
	font-family: T1KoriumVF;
	src: url("../fonts/T1KoriumVF.woff");
}
@font-face {
	font-family: GanhTypeThin;
	src: url("../fonts/GanhTypeThin.woff");
}
@font-face {
	font-family: GanhTypeRegular;
	src: url("../fonts/GanhTypeRegular.woff");
}
@font-face {
	font-family: BGAPBold;
	src: url("../fonts/BasisGrotesqueArabicPro-Bold.woff");
}
@font-face {
	font-family: BGAPBlack;
	src: url("../fonts/BasisGrotesqueArabicPro-Black.woff");
}
@font-face {
	font-family: BGAPLight;
	src: url("../fonts/BasisGrotesqueArabicPro-Light.woff");
}
@font-face {
	font-family: BGAPMedium;
	src: url("../fonts/BasisGrotesqueArabicPro-Medium.woff");
}
@font-face {
	font-family: BGAPRegular;
	src: url("../fonts/BasisGrotesqueArabicPro-Regular.woff");
}

// Font Stack Properties
$StretchPro: "StretchPro" !default;
$T1KoriumVF: "T1KoriumVF" !default;
$T1Korium2KG: "T1Korium2KG" !default;
$GanhTypeThin: "GanhTypeThin" !default;
$GanhTypeRegular: "GanhTypeRegular" !default;
$BGAPBold: "BGAPBold" !default;
$BGAPBlack: "BGAPBlack" !default;
$BGAPLight: "BGAPLight" !default;
$BGAPMedium: "BGAPMedium" !default;
$BGAPRegular: "BGAPRegular" !default;
