/*===== FONTS =====*/
@font-face {
	font-family: GanhTypeThin;
	src: url("../fonts/GanhTypeThin.woff");
}

@font-face {
	font-family: GanhTypeRegular;
	src: url("../fonts/GanhTypeRegular.woff");
}

@font-face {
	font-family: MADESoulmaze;
	src: url("../fonts/MADE-Soulmaze.woff");
}

@font-face {
	font-family: MADESoulmazeItalic;
	src: url("../fonts/MADE-SoulmazeItalic.woff");
}

@font-face {
	font-family: MADESoulmazeOutline;
	src: url("../fonts/MADE-SoulmazeOutline.woff");
}

@font-face {
	font-family: MADESoulmazeOutlineItalic;
	src: url("../fonts/MADE-SoulmazeOutlineItalic.woff");
}

// Font Stack Properties
$main: "MADESoulmaze" !default;
$body: "GanhTypeRegular" !default;
$bodyThin: "GanhTypeThin" !default;
