/*===== FONTS =====*/
@font-face {
	font-family: MTVBlack;
	src: url("../fonts/MalintonTrialVersion-Black.woff");
}
@font-face {
	font-family: MTVLight;
	src: url("../fonts/MalintonTrialVersion-Light.woff");
}
@font-face {
	font-family: MTVRegular;
	src: url("../fonts/MalintonTrialVersion-Regular.woff");
}
@font-face {
	font-family: BGAPBold;
	src: url("../fonts/BasisGrotesqueArabicPro-Bold.woff");
}
@font-face {
	font-family: BGAPBlack;
	src: url("../fonts/BasisGrotesqueArabicPro-Black.woff");
}
@font-face {
	font-family: BGAPLight;
	src: url("../fonts/BasisGrotesqueArabicPro-Light.woff");
}
@font-face {
	font-family: BGAPMedium;
	src: url("../fonts/BasisGrotesqueArabicPro-Medium.woff");
}
@font-face {
	font-family: BGAPRegular;
	src: url("../fonts/BasisGrotesqueArabicPro-Regular.woff");
}

// Font Stack Properties
$MTVBlack: "MTVBlack" !default;
$MTVLight: "MTVLight" !default;
$MTVRegular: "MTVRegular" !default;
$BGAPBold: "BGAPBold" !default;
$BGAPBlack: "BGAPBlack" !default;
$BGAPLight: "BGAPLight" !default;
$BGAPMedium: "BGAPMedium" !default;
$BGAPRegular: "BGAPRegular" !default;
