.dynamicStackMotion {
	@apply relative px-0 py-44 overflow-hidden min-h-screen;

	.title {
		@apply font-T1Korium2KG uppercase text-12xl lg:text-[9.5vw] text-center tracking-[0.02rem] leading-[5rem] lg:leading-[6.5rem] 2xl:leading-[8.5rem];

		span {
			@apply text-white;
		}
	}

	.stackContainer {
		@apply w-full h-full py-10;

		.wrapper {
			position: relative;
			perspective: 1000px;

			.content {
				width: 100vw;
				position: relative;
				transform-style: preserve-3d;
				display: grid;
				grid-template-areas: "card";
				grid-template-columns: 100%;
				place-items: center;

				.card {
					@apply bg-cover bg-center bg-no-repeat;
					background: rgba(132, 128, 143, 0.36);
					box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.8);
					width: 30vw;
					max-width: 255px;
					min-width: 150px;
					aspect-ratio: 2/3;
					font-size: 9px;
					text-transform: uppercase;
					padding: 5px;
					display: grid;
					grid-template-columns: 1fr 1fr;
					border-radius: 10px;
					position: relative;
					align-items: stretch;
					outline: 1px solid var(--color-card);
					background: var(--color-bg-card);
					grid-template-areas: "card-img card-img" "card-title card-meta" "card-subtitle card-subtitle" "card-desc card-desc";
				}

				.card:nth-child(1n) {
					--color-card: var(--color-card-1);
				}

				.card:nth-child(2n) {
					--color-card: var(--color-card-2);
				}

				.card:nth-child(3n) {
					--color-card: var(--color-card-3);
				}

				.card:nth-child(4n) {
					--color-card: var(--color-card-4);
				}

				.card:nth-child(5n) {
					--color-card: var(--color-card-5);
				}

				.card:nth-child(6n) {
					--color-card: var(--color-card-6);
				}

				.card > * {
					background-color: var(--color-bg-card-inner);
				}
			}
		}
	}
}
