.hero {
    @apply bg-white;

    .container {
        @apply m-0 p-0;

        .horizontalParallax {
            @apply overflow-hidden;

            .wrapper {
                @apply w-full h-full flex flex-col md:flex-row;
                flex-wrap: nowrap;

                .heroViewOne,
                .heroViewTwo,
                .heroViewThree,
                .heroViewFour {
                    @apply relative w-full h-full min-w-full min-h-screen lg:max-h-screen overflow-hidden p-0 flex flex-col md:flex-row items-center justify-center bg-cover bg-center bg-no-repeat;
                }

                // Hero View One
                .heroViewOne {
                    @apply flex items-center justify-between;

                    .content {
                        @apply w-full h-full min-h-screen aspect-[9/16] lg:aspect-[16/9] bg-center bg-no-repeat bg-cover;

                        .video {
                            @apply absolute top-0 left-0 w-full h-full object-cover overflow-hidden pointer-events-none #{!important};
                        }

                        .heroCard {
                            @apply relative z-10 w-full h-full overflow-x-hidden bg-pureBlack/50 hover:bg-primary-darker/90 transition-all duration-1000 ease-in-out;

                            .content {
                                @apply w-full h-full py-28 lg:pt-28 lg:pb-0 px-8 2xl:px-16 flex flex-col items-center justify-center gap-6 lg:gap-4;

                                .titleWrapper {
                                    @apply w-full max-w-5xl 2xl:max-w-[95rem] mx-auto lg:mx-0 flex items-center justify-center;

                                    .title {
                                        @apply font-primary font-extrabold uppercase italic text-white text-center text-7xl lg:text-[7.5vw] xl:text-[6vw] leading-tight xl:leading-[6vw];
                                    }
                                }

                                .subtitle {
                                    @apply mb-6 pt-3 pb-1 px-6 max-w-xl font-primary uppercase font-extrabold text-accent-default text-center text-lg md:text-2xl lg:text-xl leading-[2vw] lg:leading-tight;
                                }
                            }
                        }
                    }
                }

                // Hero View Two
                .heroViewTwo {
                    .container {
                        @apply w-full h-full flex flex-col items-center;

                        .content {
                            @apply w-full h-full py-32 lg:py-4 px-8 2xl:px-20 flex flex-col lg:flex-row items-baseline justify-between;

                            .leftSection {
                                @apply overflow-hidden flex flex-col lg:flex-row items-baseline justify-between;

                                .paragraph {
                                    @apply font-secondary lg:max-w-5xl text-pureBlack text-5xl lg:text-7xl text-left leading-normal;

                                    p {
                                        @apply font-secondary;
                                    }
                                }
                            }

                            .rightSection {
                                @apply w-full h-full lg:max-w-lg lg:pb-10 flex flex-col items-start justify-between;

                                .wrapper {
                                    @apply pt-32 pb-0 flex flex-col items-start justify-end gap-8;

                                    .paragraphTwo {
                                        @apply lg:max-w-2xl flex flex-col items-center justify-between text-lg text-pureBlack tracking-wide leading-normal;

                                        p {
                                            @apply font-secondary;
                                        }
                                    }
                                }
                            }
                        }

                        .videoWrapper {
                            @apply hidden sticky top-0 h-[35vh] lg:h-[65vh] w-full lg:flex flex-col items-center justify-center;

                            .video {
                                @apply absolute top-0 left-0 w-full h-full object-cover overflow-hidden pointer-events-none #{!important};
                            }
                        }
                    }
                }

                // Hero View Three
                .heroViewThree {
                    .linkWrapper {
                        @apply w-full h-full;

                        .mainContainer {
                            @apply w-full h-full bg-cover bg-center bg-no-repeat;

                            .video {
                                @apply absolute top-0 left-0 w-full h-full object-cover overflow-hidden pointer-events-none #{!important};
                            }

                            .contentWrapper {
                                @apply relative z-10 w-full h-full min-h-screen py-28 px-12 md:px-36 flex flex-col items-center md:items-baseline justify-center md:justify-end bg-pureBlack/50 hover:bg-pureBlack/60 transition-all duration-1000 ease-in-out;

                                .content {
                                    @apply flex flex-col items-center md:items-baseline justify-center gap-4;

                                    .title {
                                        @apply font-primary font-extrabold uppercase text-center md:text-left text-white text-[8.5vw] sm:text-[10.5vw] md:text-[5vw] leading-tight;
                                    }
                                }
                            }
                        }
                    }
                }

                // Hero View Four
                .heroViewFour {
                    @apply bg-primary-default;

                    .inversionLens {
                        position: relative;
                        width: 100vw;
                        // height: 100svh;
                        overflow: hidden;

                        img {
                            display: none;
                        }
                    }

                    // .contentWrapper {
                    //     @apply py-28 px-8 lg:px-16 flex flex-col justify-end;

                    //     .title {
                    //         @apply font-primary font-extrabold uppercase text-center lg:text-left text-white text-[8.5vw] sm:text-[10.5vw] md:text-[5vw] leading-tight;
                    //     }

                    //     .paragraph {
                    //         @apply font-secondary lg:max-w-5xl text-white text-5xl lg:text-7xl text-center lg:text-left leading-normal;

                    //         p {
                    //             @apply font-secondary;
                    //         }
                    //     }
                    // }
                }
            }
        }
    }
}
