@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply p-0 m-0 bg-white;
	font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
}

body::-webkit-scrollbar {
	display: none;
	width: 0.65rem;
	height: 0.65rem;
}

body::-webkit-scrollbar-track {
	@apply bg-black;
}

body::-webkit-scrollbar-thumb {
	@apply bg-primary-default rounded-[100px];

	&:hover {
		@apply bg-primary-two transition-all duration-500 ease-in-out;
	}
}

a {
	@apply text-inherit no-underline;
}

* {
	@apply box-border;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: none !important;
}

p {
	@apply font-tertiaryMedium;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-primary;
}

/*===== FONTS =====*/
@font-face {
	font-family: primary;
	src: url("./fonts/Ppmondwest-regular.woff");
}
@font-face {
	font-family: primaryBold;
	src: url("./fonts/Ppmondwest-bold.woff");
}
@font-face {
	font-family: secondary;
	src: url("./fonts/POICarbonicTrial-Light.woff");
}
@font-face {
	font-family: tertiaryLight;
	src: url("./fonts/BasisGrotesqueArabicPro-Light.woff");
}
@font-face {
	font-family: tertiaryRegular;
	src: url("./fonts/BasisGrotesqueArabicPro-Regular.woff");
}
@font-face {
	font-family: tertiaryMedium;
	src: url("./fonts/BasisGrotesqueArabicPro-Medium.woff");
}
@font-face {
	font-family: tertiaryBlack;
	src: url("./fonts/BasisGrotesqueArabicPro-Black.woff");
}
