@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply p-0 m-0 bg-white overflow-x-hidden;
	font-family:
		-apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
}

body::-webkit-scrollbar {
	display: none;
	width: 0.65rem;
	height: 0.65rem;
}

body::-webkit-scrollbar-track {
	@apply bg-black;
}

body::-webkit-scrollbar-thumb {
	@apply bg-primary-default rounded-[100px];

	&:hover {
		@apply bg-primary-two transition-all duration-500 ease-in-out;
	}
}

a {
	@apply text-inherit no-underline;
}

* {
	@apply box-border;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: none !important;
}

p {
	@apply font-tertiaryMedium;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-primary;
}

/* Preventing Content Copying */

// Disabling Text Selection:
* {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

// Disabling Image Dragging
img.no-drag {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

// Google Translate Navigation SVG
.openGoogleTranslateSVG,
.closeGoogleTranslateSVG:hover {
	fill: none;

	g,
	path {
		fill: none;
	}
	line {
		fill: none;
	}
}

#google_translate_element {
	select {
		border: none;
		@apply py-[10px] px-[8px] border-none bg-[#e1e5e7] rounded-sm text-pureBlack;

		option {
			@apply text-pureBlack py-1;
		}
	}

	.goog-te-gadget {
		@apply relative h-fit;
	}

	.goog-te-gadget .goog-te-combo {
		border: none;
		color: #000 !important;

		@apply my-0;

		p {
			@apply hidden;
		}
	}

	.goog-te-gadget {
		color: #111 !important;
	}

	.VIpgJd-ZVi9od-l4eHX-hSRGPd {
		display: none !important;
	}
}

/*===== FONTS =====*/
@font-face {
	font-family: primary;
	src: url("./fonts/Ppmondwest-regular.woff");
}
@font-face {
	font-family: primaryBold;
	src: url("./fonts/Ppmondwest-bold.woff");
}
@font-face {
	font-family: secondary;
	src: url("./fonts/POICarbonicTrial-Light.woff");
}
@font-face {
	font-family: tertiaryLight;
	src: url("./fonts/BasisGrotesqueArabicPro-Light.woff");
}
@font-face {
	font-family: tertiaryRegular;
	src: url("./fonts/BasisGrotesqueArabicPro-Regular.woff");
}
@font-face {
	font-family: tertiaryMedium;
	src: url("./fonts/BasisGrotesqueArabicPro-Medium.woff");
}
@font-face {
	font-family: tertiaryBlack;
	src: url("./fonts/BasisGrotesqueArabicPro-Black.woff");
}
